header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e90ff;
    border-bottom: 5px solid #2e2e2e;;
    padding: 10px 20px;
}

h1{
    font-family: "Fira Code", sans-serif;
    color: #EDEDED;
    text-shadow: 3px 3px 0px #2e2e2e;;
}

nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #EDEDED;
    font-size: 21px; 
    font-weight: 600;
    text-decoration: none;
    margin-right: 30px;
}