.title{
    font-family: "Fira Code", sans-serif;
    text-shadow: 3px 3px 0px #2e2e2e;;
    font-size: 40px;
    color: #FF6B81;
}

.title.-second{
    color: #FFF;
    text-align: center;
    text-shadow: none;
}